body {
    background-color: #f7f7f7;
    margin: 0;
    margin-bottom:50px;
}
* {
    box-sizing: border-box;
}
.navbar {
    height: 80px;
}
.navbar__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 12px;
}
.navbar__site-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
}
.navbar__site-name a {
    text-decoration: none;
    color: black;
}
.navbar__list {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}
.navbar__list > div {
    display: flex;
}
.navbar__list li {
    margin-left: 15px;
}
.navbar__list a {
    text-decoration: none;
    color: lightseagreen;
    font-size: 16px;
}
.banner{
    background-image: linear-gradient(to top, #000000, #434343);
    height: 200px;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.banner__wrapper > div {
    margin-top: 26px;
}
.banner h1 {
    font-size: 28px;
    margin: 0;
}
.container__wrapper {
    /* max-width: 1280px; */
    margin: 10px auto;
    padding: 10px 20px;
}

.article {
    margin-bottom: 15px;
}

.article__title {
    display: flex;
    margin-bottom: 10px;
}
.article__title:first-child {
    font-weight: bold;
    /* margin-right: 10px; */
}
.article__edit {
    margin-left: 5px;
}

.article__edit-btn{
    text-decoration: none;
}

.article__info {
    color: thistle;
    margin-bottom: 5px;
}
.article__content {
    margin-bottom: 5px;
    max-width: 100%;
    word-break: break-all;
    white-space: pre-line;
}

footer {
    background-color: #434343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
footer > div {
    color: #eeeeee;
}